@media (max-width:767px) {
    .container {
        padding: 0 10px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    .navbar {
        background: crimson;
    }

    .nav {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column !important;
        gap: 10px;
        text-align: center;
        align-items: center;
        background: red;
        overflow: hidden;
    }

    #menu_list {
        transition: all .1s;
    }

    .sing_in_btn {
        padding: 10px 50px;
    }

    /* ---------------------------- header start ---------------------------- */
}