@media (max-width:1440px) {

    /* ---------------------------- header section start ---------------------------- */
    .mega_menu {
        margin-left: -482px;
    }

    /* ---------------------------- header section ened ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    .hero_heading {
        animation: font_size_increase_1 2s ease-in-out forwards;
    }

    .hero_desc {
        animation: font_size_increase_2 2s ease-in-out forwards;
    }

    @keyframes fly_2 {
        0% {
            top: -700px;
            right: -100%;
        }

        100% {
            top: -163px;
            right: -24%;
            opacity: 1;
        }
    }

    /* ---------------------------- hero section end ---------------------------- */
}

@media (max-width:1024px) {
    .container {
        padding: 0 15px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    #header {
        max-height: 70px;
    }

    .navbar {
        background: var(--hero_bg);
    }

    .nav {
        gap: 0px !important;
    }

    .mega_menu {
        margin-left: -318px;
    }

    .mega_menu .nav_pills {
        width: 100%;
        overflow-x: scroll !important;
        display: flex;
        justify-content: center;
    }

    /* ---------------------------- header end ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    .outer_ring {
        padding: 94px;
    }

    .inner_ring {
        padding: 250px 50px 60px;
    }

    @keyframes font_size_increase_1 {
        0% {
            font-size: 25px;
        }

        100% {
            font-size: 45px;
        }
    }

    .hero_heading {
        font-size: 45px;
        line-height: 45px;
        animation: font_size_increase_1 2.2s ease-in-out forwards;
    }

    @keyframes font_size_increase_2 {
        0% {
            font-size: 2px;
        }

        100% {
            font-size: 16px;
        }
    }

    .hero_desc {
        font-size: 16px;
        animation: font_size_increase_2 2.5s ease-in-out forwards;
    }

    @keyframes fly_1 {
        0% {
            top: -700px;
            left: -100%;
        }

        100% {
            top: -160px;
            left: -13%;
            opacity: 1;
        }
    }


    .plain,
    .note {
        width: 8.5%;
    }


    @keyframes fly_2 {
        0% {
            top: -700px;
            right: -100%;
        }

        100% {
            top: -157px;
            right: -13%;
            opacity: 1;
        }
    }

    /* ---------------------------- hero section end ---------------------------- */

    /* ---------------------------- tools section start ---------------------------- */
    .tools_left {
        padding: 65px 0 9px 150px;
    }

    .table_img {
        max-height: 450px !important;
        width: 70% !important;
        float: right !important;
    }

    /* ---------------------------- tools section end ---------------------------- */

    /* ---------------------------- feature section start ---------------------------- */
    .feature_bottom {
        gap: 20px;
    }

    .feature_card {
        padding: 20px 20px 0;
    }

    .card_desc {
        font-size: 16px;
    }

    .card_bottom {
        margin-top: 45px;
    }

    /* ---------------------------- feature section end ---------------------------- */

    /* ---------------------------- content write section start ---------------------------- */
    .content_write_card_container {
        gap: 15px !important;
    }

    .cwcc_1 {
        margin-bottom: 15px !important;
    }

    /* ---------------------------- content write section end ---------------------------- */

    /* ---------------------------- package section start ---------------------------- */
    .package_card_container {
        flex-wrap: wrap;
    }

    /* ---------------------------- package section end ---------------------------- */

    /* ---------------------------- testimonial section start ---------------------------- */
    .testimonial_card_container {
        gap: 24px;
    }

    /* ---------------------------- testimonial section end ---------------------------- */
    /* ---------------------------- faq section start ---------------------------- */
    .faq_tab_container {
        gap: 40px !important;
    }

    .faq-custom-button {
        align-items: start;
    }

    .nav_pills {
        width: 100%;
        overflow-x: scroll !important;
    }

    .faq_btn_title {
        text-align: left;
    }

    .faq-accordion {
        padding: 0;
    }

    .faq-accordion-item {
        padding: 24px !important;
        padding-bottom: 25px !important;
    }

    /* ---------------------------- faq section end ---------------------------- */

    /* ---------------------------- plan section start ---------------------------- */
    #plan_section {
        padding: 50px 15px;
    }

    .plan_container {
        padding: 25px !important;
    }

    /* ---------------------------- plan section end ---------------------------- */
}





@media (max-width:991px) {

    /* ---------------------------- header section start ---------------------------- */
    .mega_menu {
        margin-left: -190px;
    }

    /* ---------------------------- header section end ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    .outer_ring {
        padding: 94px;
        width: 130%;
        margin-left: -105px;
    }

    .inner_ring {
        padding: 250px 50px 60px;
    }

    @keyframes font_size_increase_1 {
        0% {
            font-size: 25px;
        }

        100% {
            font-size: 30px;
        }
    }

    .hero_heading {
        line-height: 33px;
        animation: font_size_increase_1 1s ease-in-out forwards;
    }

    @keyframes font_size_increase_2 {
        0% {
            font-size: 5px;
        }

        100% {
            font-size: 14px;
        }
    }

    .hero_desc {
        animation: font_size_increase_2 1s ease-in-out forwards;
    }

    /* ---------------------------- hero section end ---------------------------- */

    /* ---------------------------- feature section start ---------------------------- */
    .feature_top {
        padding: 50px 50px 0 !important;
        gap: 50px;
    }

    .feature_top_right {
        padding: 40px 40px 0;
        border-radius: none !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .feature_top_img {
        width: 100%;
    }

    .feature_bottom {
        margin-top: 25px;
        gap: 10px;
    }

    .feature_card {
        padding: 10px 20px 0;
        border-radius: 10px;
        background: var(--baby_pink);
    }

    .card_heading {
        font-size: 16px;
        margin-bottom: 0 !important;
    }

    .card_desc {
        font-size: 12px;
        line-height: 20px;
    }

    .card_bottom {
        margin-top: 30px;
    }

    @keyframes slideInLeft {
        0% {
            transform: translateX(-50px);
            opacity: 0;
        }

        80% {
            transform: translateX(20px);
            opacity: 1;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    /* ---------------------------- feature section end ---------------------------- */

    /* ---------------------------- content write section start ---------------------------- */
    .custom_tab_item_1 {
        margin-left: 20%;
    }

    .content_write_card_container {
        gap: 15px;
    }

    .cwcc_1 {
        margin-bottom: 15px;
    }

    .content_write_card {
        padding: 32px 15px;
    }

    .content_magic_icon {
        width: 25%;
    }

    .content_write_card_heading {
        font-size: 20px;
    }

    /* ---------------------------- content write section end ---------------------------- */

    /* ---------------------------- testimonial section start ---------------------------- */
    .testimonial_card {
        text-align: center;
    }

    .testimonial_card_center {
        justify-content: center;
    }

    /* ---------------------------- testimonial section end ---------------------------- */

    /* ---------------------------- footer section start ---------------------------- */
    .footer_link_list {
        gap: 20px, !important;
    }

    /* ---------------------------- footer section end ---------------------------- */


    @keyframes fly_1 {
        0% {
            top: -700px;
            left: -100%;
        }

        100% {
            top: -95px;
            left: -7%;
            opacity: 1;
        }
    }


    @keyframes fly_2 {
        0% {
            top: -700px;
            right: -100%;
        }

        100% {
            top: -90px;
            right: -6%;
            opacity: 1;
        }
    }
}

@media (max-width:767px) {
    .container {
        padding: 0 10px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    #header {
        max-height: 45px;
    }

    .navbar {
        background: var(--hero_bg);
        z-index: 9998 !important;
    }

    .nav {
        max-height: 0px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
        text-align: center;
        align-items: center;
        overflow: hidden;
        background: var(--hero_bg);
        z-index: 9999 !important;
    }

    #menu_list {
        transition: all .1s;
    }

    .sing_in_btn {
        padding: 10px 50px;
    }

    /* ---------------------------- header end ---------------------------- */
    /* ---------------------------- hero section start ---------------------------- */
    #hero_section {
        padding: 90px 0 48px;
        min-height: 119vh;
    }

    .hero_heading {
        font-size: 45px;
    }

    /* ---------------------------- hero section end ---------------------------- */

    /* ---------------------------- package section start ---------------------------- */
    .package_card_container {
        flex-wrap: inherit;
    }

    /* ---------------------------- package section end ---------------------------- */






    @keyframes fly_1 {
        0% {
            top: -700px;
            left: -100%;
        }

        100% {
            top: -80px;
            left: -5%;
            opacity: 1;
        }
    }


    @keyframes fly_2 {
        0% {
            top: -700px;
            right: -100%;
        }

        100% {
            top: -80px;
            right: -5.2%;
            opacity: 1;
        }
    }
}












@media (max-width: 600px) {
    .container {
        padding: 0 16px !important;
    }

    .wm_heading {
        font-size: 24px;
        line-height: 30px !important;
    }

    .section_title_para {
        font-size: 8px;
        line-height: 20px;
    }

    .common_btn_1,
    .common_btn_2 {
        font-size: 13px;
        padding: 10px 12px;
    }

    .section_title {
        font-size: 9px !important;
    }

    .section_title>.text_xs {
        font-size: 8px !important;
    }

    .mt_80 {
        margin-top: 40px;
    }

    .py_96 {
        padding: 56px 0;
    }

    /* ---------------------------- header start ---------------------------- */
    #header {
        max-height: 15px;
    }

    .navbar {
        padding: 16px !important;
    }

    .nav {
        top: 55px;
    }

    /* ---------------------------- header end ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    #hero_section {
        overflow-x: hidden;
        padding-top: 100px;
    }

    @keyframes hero_slide {
        0% {
            transform: translateY(-100%);
            padding: 330px;
            background: linear-gradient(to top, #EAD4FF, #EAD4FF, #EAD4FF, #EAD4FF);
        }

        100% {
            padding: 65px;
            transform: translateY(-10%);
            background: linear-gradient(to top, #EAD4FF, var(--hero_bg), var(--hero_bg), var(--hero_bg));
        }
    }

    .outer_ring {
        padding: 65px;
        padding-top: 35px;
        width: 180%;
        margin-left: -225px;
    }

    .inner_ring {
        padding: 250px 50px 45px;
    }

    @keyframes font_size_increase_1 {
        0% {
            font-size: 25px;
        }

        100% {
            font-size: 24px;
        }
    }

    .hero_heading {
        line-height: 45px;
        animation: font_size_increase_1 2.5s ease-in-out forwards;
    }

    @keyframes font_size_increase_2 {
        0% {
            font-size: 2px;
        }

        100% {
            font-size: 12px;
        }
    }

    .hero_para {
        font-size: 12px;
        margin-top: 13px;
        animation: font_size_increase_2 2.5s ease-in-out forwards;
    }


    /* ---------------------------- hero section end ---------------------------- */

    /* ---------------------------- app review section start ---------------------------- */
    #app_review_section {
        padding: 43px 0;
        margin-top: -270px;
    }

    .review_container {
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    /* ---------------------------- app review section end ---------------------------- */

    /* ---------------------------- tools section start ---------------------------- */
    #tools_section {
        padding: 56px 0;
    }

    .tools_content {
        margin-top: 40px;
        gap: 20px;
    }

    .tools_left {
        padding: 13px 0 3px 11px;
        background: var(--baby_blue);
    }

    .accordion_container {
        gap: 11px !important;
    }

    .accordion_item {
        padding: 11px 9px;
        max-height: 150px;
    }

    .accordion_btn,
    .accordion_content {
        gap: 22px;
    }

    .accordion_header {
        padding: 6px 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .accordion_btn {
        font-size: 14px !important;
        line-height: 28px !important;
    }

    .accordion_stick_img_div {
        padding: 0 14.5px;
    }

    .accordion_stick_img {
        height: 62%;
    }

    .accordion-body {
        font-size: 10px;
        line-height: 16px;
    }

    .get_strt_btn_2 {
        font-size: 12px;
        margin-top: 11.5px;
    }

    /* ---------------------------- tools section end ---------------------------- */

    /* ---------------------------- feature section start ---------------------------- */
    #feature_section {
        padding: 56px 0;
    }

    .feature_top {
        padding: 20px 20px 0 !important;
        gap: 26px;
    }

    .feature_top_img {
        width: 100%;
    }

    .feature_top_left {
        padding: 0 !important;
    }

    .feature_tl_heading {
        max-width: 303px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 14px;
    }

    .feature_tl_para {
        max-width: 303px;
        font-size: 12px;
        line-height: 18px;
    }

    .feature_btn {
        padding: 10px 14px !important;
    }

    .feature_top_right {
        padding: 10px 15px 0;
        border-radius: none !important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .feature_bottom {
        gap: 24px;
    }

    .feature_card {
        padding: 24px 43px .2px;
    }

    .card_heading {
        font-size: 16px;
        line-height: 32px;
        margin-bottom: 6px !important;
    }

    .card_desc {
        font-size: 14px;
        line-height: 20px;
    }

    .card_bottom {
        margin-top: 32px;
        padding: 17px 7px 15px 0;
    }

    /* ---------------------------- feature section end ---------------------------- */

    /* ---------------------------- content write section start ---------------------------- */
    .custom-tabs {
        padding: 0 5px;
    }

    .custom_tab_item_1 {
        margin-left: 170%;
    }

    .content_write_card_container {
        flex-direction: column;
        gap: 24px !important;
        padding: 0 11px;
    }

    .cwcc_1 {
        margin-bottom: 24px !important;
    }

    /* ---------------------------- content write section end ---------------------------- */

    /* ---------------------------- pricing section start ---------------------------- */
    .package_card_container {
        gap: 28px;
    }

    .package_card_top {
        padding: 0 33px 28px;
        border-bottom: 1px solid #ECDAFA;
    }

    .pc_heading {
        font-size: 18px !important;
        line-height: 29px;
    }

    .pc_price {
        font-size: 43px;
        line-height: 73px;
    }

    .price_per_month {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 28px;
    }

    .pricing_card_btn {
        font-size: 14px;
        padding: 14px 72px !important;
    }

    .package_card_bottom {
        margin-top: 28px;
    }

    .package_list_item {
        font-size: 16px;
        line-height: 28px !important;
        gap: 14px;
    }

    /* ---------------------------- pricing section end ---------------------------- */

    /* ---------------------------- testimonial section start ---------------------------- */
    .testimonial_card_container {
        padding: 0 24px;
    }

    .testimonial_card {
        padding: 40px 20px;
        text-align: start;
    }

    .testimonial_card_center {
        justify-content: start;
    }

    /* ---------------------------- testimonial section end ---------------------------- */

    /* ---------------------------- faq section start ---------------------------- */
    .faq-custom-body {
        max-width: 231px !important;
    }

    .faq-accordion {
        gap: 0;
    }

    /* ---------------------------- faq section end ---------------------------- */

    /* ---------------------------- plan section start ---------------------------- */
    #plan_section {
        padding: 54px 41px 40px 41px;
    }

    .plan_container {
        padding: 16px !important;
    }

    .plan_desc {
        font-size: 12px;
        line-height: 18px;
        margin: 16px auto 32px;
    }

    /* ---------------------------- plan section end ---------------------------- */


    /* ---------------------------- footer section start ---------------------------- */
    #footer_section {
        text-align: center;
    }

    .footer_logo_container,
    .footer_link_list {
        margin-bottom: 32px !important;
    }

    .footer_link_list {
        gap: 0 !important;
    }

    .footer_links {
        line-height: 40px;
    }

    /* ---------------------------- footer section end ---------------------------- */


    @keyframes fly_1 {
        0% {
            top: -700px;
            left: -100%;
        }

        100% {
            opacity: 1;
            top: 10px;
            left: 6.5%;
        }
    }

    @keyframes fly_2 {
        0% {
            top: -700px;
            right: -100%;
        }

        100% {
            opacity: 1;
            top: 10px;
            right: 6.5%;
        }
    }
}




@media (max-width: 475px) {
    .outer_ring {
        margin-left: -155px;
    }
}

@media (max-width: 375px) {
    .outer_ring {
        margin-left: -135px;
    }
}