@media (max-width:1024px) {
    .container {
        padding: 0 15px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    #header {
        height: auto;
    }

    .navbar {
        background: var(--hero_bg);
    }

    .nav {
        gap: 0px !important;
    }

    /* ---------------------------- header end ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    #hero_section {
        padding: 115px 0 48px;
    }

    /* ---------------------------- hero section end ---------------------------- */
}


@media (max-width:767px) {
    .container {
        padding: 0 10px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    #header {
        height: auto;
    }

    .navbar {
        background: var(--hero_bg);
    }

    .nav {
        max-height: 0px;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column !important;
        gap: 10px !important;
        text-align: center;
        align-items: center;
        overflow: hidden;
        background: var(--hero_bg);
    }

    #menu_list {
        transition: all .1s;
    }

    .sing_in_btn {
        padding: 10px 50px;
    }

    /* ---------------------------- header end ---------------------------- */
    /* ---------------------------- hero section start ---------------------------- */
    #hero_section {
        padding: 90px 0 48px;
    }

    .hero_heading {
        font-size: 45px;
    }

    /* ---------------------------- hero section end ---------------------------- */
}

@media (max-width: 600px) {
    .container {
        padding: 0 10px !important;
    }

    /* ---------------------------- header start ---------------------------- */
    .navbar {
        padding: 16px !important;
    }

    /* ---------------------------- header end ---------------------------- */

    /* ---------------------------- hero section start ---------------------------- */
    #hero_section {
        padding: 80px 0 48px;
    }

    .hero_heading {
        font-size: 35px;
        line-height: 40px;
    }

    /* ---------------------------- hero section end ---------------------------- */
}