@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------- common styling start --------------------- */
:root {
    --primary_color: #4A4A4A;
    --white: #FFFFFF;
    --deep_violet: #391952;
    --span_color: #AE6CE1;
    --dark_lavender: #675B70;
    --gradient_1: #E4C7FF;
    --gradient_2: #FFFFFF00;
    --border: #E9E1FF;
    --hero_bg: #FCF9FF;
    --pastel_lilac: #F8F1FC;
    --baby_blue: #E5EFFF;
    --soft_lilac: #F0E7F9;
    --soft_white_gray: #F5F5F6;
    --dark_gray: #686868;
    --davy_gray: #585858;
    --lavender_purple: #69507D
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.font_outfit {
    font-family: "Outfit", sans-serif;
}

.font_roboto {
    font-family: "Roboto", sans-serif;
}

.font_poppins {
    font-family: "Poppins", sans-serif;
}

.font_inter {
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.wm_heading {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: var(--primary_color);
}

.primary_text {
    color: var(--primary_color) !important;
}

.deepViolet_text {
    color: var(--deep_violet) !important;
}

.darkLavender_text {
    color: var(--dark_lavender) !important;
}

.span_color {
    color: var(--span_color) !important;
}

.darkGray_text {
    color: var(--dark_gray) !important;
}

.davyGray_text {
    color: var(--davy_gray) !important;
}

.text_xs {
    font-size: 12px;
}

.text_sm {
    font-size: 14px;
}

.text_lg {
    font-size: 18px;
}

.text_24 {
    font-size: 24px;
}

.text_lg {
    font-size: 18px;
}

.text_32 {
    font-size: 32px;
}

.lh_24 {
    line-height: 24px !important;
}

.lh_26 {
    line-height: 26px;
}

.lh_36 {
    line-height: 36px;
}

.lh_62 {
    line-height: 62px;
}

.gap_20 {
    gap: 20px;
}

.gap_40 {
    gap: 40px;
}

.radius_8 {
    border-radius: 8px;
}

.radius_20 {
    border-radius: 20px;
}

.radius_32 {
    border-radius: 32px;
}


.section_title {
    max-width: 251px;
    align-items: center;
    border: .6px solid var(--border);
    background: linear-gradient(to right, var(--gradient_1), var(--gradient_2));
}

.section_title_div {
    padding: 4px 10px;
    border-radius: 20px;
    background: var(--span_color);
}

.common_btn_1,
.common_btn_2 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: var(--white);
    border-radius: 40px;
    border: 1px solid var(--deep_violet);
    background: var(--deep_violet);
    padding: 16px 28px;
    transition: all 1s ease-in-out;
    background-size: 300% 300%;
}

.common_btn_1 {
    background: linear-gradient(135deg, var(--deep_violet) 50%, #a40cd3 50%);
    background-size: 300% 300%;
    background-position: left top;
}

.common_btn_1:hover {
    background-position: right bottom;
    border: 1px solid #a40cd3;
}


.common_btn_2 {
    color: var(--deep_violet);
    background: transparent;
}

/* --------------------- common styling end --------------------- */

/* --------------- header section start --------------- */
#header {
    height: 110px;
    background: var(--hero_bg);
}

.navbar {
    top: -100%;
    background: var(--hero_bg);
    animation: slideDown 2.2s ease-in-out forwards;
    z-index: 9998 !important;
}


.nav-link.dropdown-toggle::after {
    display: none;
}

.menu_icon {
    display: none;
}

.sing_in_btn {
    background-color: var(--pastel_lilac);
    padding: 10px 24px;
    transition: all ease .3s;
}

.sing_in_btn:hover {
    color: #AE6CE1;
    background-color: var(--baby_blue);
}

/* --------------- header section end --------------- */

/* --------------- hero section start --------------- */
#hero_section {
    background: var(--hero_bg);
    padding: 56px 0 48px;
    position: relative;
    overflow: hidden;
    min-height: 77vh;
    max-height: 80vh;
}


.outer_ring,
.inner_ring {
    z-index: 2;
}


.hero_extra_container {
    height: 100%;
    background: var(--hero_bg);
}

.outer_ring {
    top: -100%;
    height: 0;
    width: 100%;
    animation: slideDown_2 2.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    /* overflow: hidden; */
}

.hero_heading {
    font-size: 50px;
    line-height: 55px;
}

.hero_ellipse {
    margin-bottom: 40px;
    bottom: -250px;
    z-index: -1;
}

.plain,
.note {
    opacity: 0;
    position: absolute;
    animation-duration: 2s;
    animation-delay: .8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.plain {
    animation-name: fly_1;
}

.note {
    animation-name: fly_2;
}


/* --------------- hero section end --------------- */

/* --------------- app review section start --------------- */
#app_review_section {
    padding: 48px 0;
    background: var(--hero_bg);
}

.review_container {
    max-width: 655px;
    gap: 112px;
}

.app_rate_content {
    gap: 56px;
}

.app_rate_content_2 {
    border-left: 1.5px solid var(--deep_violet);
    padding: 9px 24px;
}

.get_strt_btn {
    color: #33134D;
}

/* --------------- app review section end --------------- */

/* --------------- tools section start --------------- */
#tools_section {
    padding: 88px 0;
}

.tools_content {
    margin-top: 80px;
    gap: 72px;
}

.tools_left {
    padding: 25px 0 9px 54px;
    background: var(--baby_blue);
}

.tools_left_inner_div {
    max-width: 90px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(to left, #E5EFFF, #E5EFFF00);
}

.accordion_item {
    height: 100%;
    padding: 20px 16px;
}

.accordion_header {
    padding: 13px 15px;
    font-size: 20px;
    color: var(--lavender_purple);
    background: var(--soft_lilac);
    border-radius: 4px;
    width: auto;
}

.accordion_stick_img_div {
    padding: 0 26px;
}

.accordion_stick_img {
    max-height: 200px;
    height: 80%;
}

.get_strt_btn_2 {
    margin-top: 20px;
    color: var(--deep_violet)
}

/* --------------- tools section end --------------- */



/* =========== animation ============= */
@keyframes slideDown {
    from {
        top: -100%;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes slideDown_2 {
    0% {
        top: -100%;
        height: 0;
        opacity: 0;
    }

    30% {
        /* top: 0; */
        height: 50%;
        opacity: 1;
    }

    /* 
    60% {
        top: 50px;
        height: 50%;
    } */

    100% {
        top: 70px;
        height: 90%;
    }
}

@keyframes fly_1 {
    0% {
        top: -700px;
        left: -100%;
    }

    100% {
        top: -170px;
        left: 4.5%;
        opacity: 1;
    }
}

@keyframes fly_2 {
    0% {
        top: -700px;
        right: -100%;
    }

    100% {
        top: -170px;
        right: 4.5%;
        opacity: 1;
    }
}