@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* --------------------- common styling start --------------------- */
:root {
    --primary_color: #4A4A4A;
    --white: #FFFFFF;
    --deep_violet: #391952;
    --span_color: #AE6CE1;
    --dark_lavender: #675B70;
    --gradient_1: #E4C7FF;
    --gradient_2: #FFFFFF00;
    --hero_bg: #FCF9FF;
    --pastel_lilac: #F8F1FC;
    --baby_blue: #E5EFFF;
    --soft_lilac: #F0E7F9;
    --soft_white_gray: #F5F5F6;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.font_outfit {
    font-family: "Outfit", sans-serif;
}

.font_roboto {
    font-family: "Roboto", sans-serif;
}

.font_poppins {
    font-family: "Poppins", sans-serif;
}

.font_inter {
    font-family: "Inter", sans-serif;
}

.wm_heading {
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
}

/* --------------------- common styling end --------------------- */